<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Qualification</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td>Qualification</td>
                <td><select name="sel_qualification" required id="sel_qualification">
                    <option value="">-----Select------</option>
                    {% for i in qualificationdata %}
                    <option value="{{i.id}}">{{i.qualification_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    <table border="2">
        <tr>
            <td>SI NO</td>
            <td>Job Qualification</td>
            <td>Action</td>
        </tr>
        {% for i in jobqualificationdata %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.qualification_id.qualification_name}}</td>
            <td><a href="{% url 'JobProvider:DeleteJobqualification' i.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'JobProvider:Job' %}"
</script>
{% endif %}
</html>