{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Career Hive</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <!-- <link href="{% static 'Main/assets/img/favicon.png' %}" rel="icon"> -->
    <!-- <link href="{% static 'Main/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap" rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="{% static 'Main/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Main/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'Main/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'Main/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'Main/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <!-- Main CSS File -->
    <link href="{% static 'Main/assets/css/main.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Dewi
  * Template URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


    <!-- <style>
  .bbh-hegarty-regular {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

</style> -->

    <style>
        .gravitas-one-regular {
            font-family: "Gravitas One", serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
    <style>
        .rubik-gemstones-regular {
            font-family: "Rubik Gemstones", system-ui;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="index.html" class="logo d-flex align-items-center me-auto">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="rubik-gemstones-regular">HIVE</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'User:HomePage' %}" class="active">Home</a></li>
                    <li><a href="{% url 'User:MyProfile' %}">MyProfile</a></li>
                    <li><a href="{% url 'User:Complaint' %}">Complaint</a></li>
                    <li><a href="{% url 'User:Feedback' %}">Feedback</a></li>
                    <li><a href="{% url 'User:MyRequest' %}">MyRequest</a></li>
                    <li><a href="{% url 'User:ViewJob' %}">ViewJob</a></li>
                    <li><a href="{% url 'User:Logout' %}">Logout</a></li>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>


        </div>
    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">

            <img src="{% static 'Main/assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

            <div class="container d-flex flex-column align-items-center">
                <h2 data-aos="fade-up" data-aos-delay="100" style="font-size: 125px; " class="gravitas-one-regular">
                    CAREER HIVE
                </h2>
            </div>

        </section><!-- /Hero Section -->

        <!-- About Section -->
        <section id="about" class="about section">

            <div class="container">

                <div class="row gy-4">
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="bbh-hegarty-regular" style="font-size: 50px;">ABOUT US</h3>
                        <p style="font-size: 20px;">We are a dedicated team focused on building a simple, reliable, and
                            user-friendly Job Board Application that connects job seekers with the right employment
                            opportunities and helps employers find suitable candidates efficiently. Our platform is
                            designed to simplify the hiring process by allowing companies to post job openings, manage
                            applications, and review candidate profiles in one place, while enabling job seekers to
                            search and apply for jobs based on their skills and interests. With an emphasis on clarity,
                            accessibility, and performance, our goal is to bridge the gap between talent and opportunity
                            and make the job search and recruitment process faster, smarter, and more transparent.</p>

                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'Main/assets/img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
                    </div>
                </div>

            </div>

        </section><!-- /About Section -->

        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>JOBS</h2>
                <p>Job Providers<br></p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-5">

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="service-item">
                            <div class="img">
                                <img src="{% static 'Main/assets/img/apple.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <img src="{% static 'Main/assets/img/apple-logo.png' %}" width="50px" alt="">
                                </div>
                                <h3>APPLE</h3>
                                <!-- </a> -->
                                <p>Apple Inc. is a multinational technology company headquartered in Cupertino,
                                    California, USA.It is widely known for designing, developing, and selling innovative
                                    consumer electronics, software, and digital services.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="service-item">
                            <div class="img">
                                <img src="{% static 'Main/assets/img/gooogle.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <img src="{% static 'Main/assets/img/google.png' %}" width="50px" alt="">
                                </div>
                                <h3>GOOGLE</h3>
                                <!-- </a> -->
                                <p>Founded in 1998 by Larry Page and Sergey Brin, Google focuses on innovation in areas
                                    such as cloud computing, artificial intelligence, mobile operating systems
                                    (Android), and digital advertising.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                        <div class="service-item">
                            <div class="img">
                                <img src="{% static 'Main/assets/img/microsoft.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <img src="{% static 'Main/assets/img/microsoft.png' %}" width="50px" alt="">
                                </div>
                                <h3>MICROSOFT</h3>
                                <!-- </a> -->
                                <p>Microsoft Corporation is a multinational technology company headquartered in Redmond,
                                    Washington, USA. It is widely known for developing software products such as
                                    Microsoft Windows.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services Section -->



        <!-- Features Section -->
        <section id="features" class="features section">

            <div class="container">

                <ul class="nav nav-tabs row  d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li class="nav-item col-3">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                            <i class="fa-regular fa-alarm-clock"></i>
                            <h4 class="d-none d-lg-block">PART-TIME JOB <br>FULL-TIME JOB</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                            <i class="bi bi-box-seam"></i>
                            <h4 class="d-none d-lg-block">INTERNSHIP</h4>
                        </a>

                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                            <i class="fa-solid fa-user-group"></i>
                            <h4 class="d-none d-lg-block">FREELANCE JOBS</h4>
                        </a>
                    </li>
                </ul><!-- End Tab Nav -->

                <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                    <div class="tab-pane fade active show" id="features-tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">

                                <h3>PART-TIME JOB</h3>
                                <p class="fst-italic">
                                    Part-Time Jobs are employment positions in which an individual works for fewer hours
                                    than a full-time employee. These jobs usually involve flexible working hours and may
                                    not require a long-term commitment.</p>

                                <p>Part-time jobs are commonly suitable for students, freelancers, homemakers, or
                                    individuals seeking extra income. Employees are generally paid on an hourly, daily,
                                    or monthly basis, and benefits are often limited compared to full-time jobs. In a
                                    job board application, part-time jobs help users find opportunities that match their
                                    availability and work–life balance.
                                </p>
                                <h3>FULL-TIME JOB</h3>

                                <p>
                                    Full-Time Jobs are employment positions in which an individual works a fixed number
                                    of hours per week, typically 35–40 hours, for a single organization. These jobs
                                    usually involve a long-term or permanent work arrangement.</p>

                                <P>Employees in full-time jobs receive a regular salary and often enjoy additional
                                    benefits such as paid leave, health insurance, provident fund, and job security. In
                                    a job board application, full-time jobs are listed for candidates seeking stable
                                    careers and long-term professional growth.
                                </p>

                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'Main/assets/img/working-1.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0"><br><br>
                                <h3>INTERNSHIP</h3><br>
                                <p>
                                    An Internship is a short-term, training-oriented job designed mainly for students or
                                    fresh graduates (freshers) to help them gain practical, real-world experience in a
                                    particular field.</p>

                                <P>During an internship, candidates work under the guidance of experienced professionals
                                    and apply the theoretical knowledge they have learned in college to real tasks and
                                    projects. Internships may be paid or unpaid and usually last for a few weeks to
                                    several months. They help students develop technical skills, improve communication,
                                    understand workplace culture, and enhance their resumes. In a job board application,
                                    internship listings are especially useful for candidates who are starting their
                                    careers and looking to build industry experience.
                                </p>

                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'Main/assets/img/working-2.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0"><br><br>
                                <h3>FREELANCE JOB</h3><br>
                                <p>
                                    Freelance Jobs are a type of work where individuals are self-employed professionals
                                    who offer their skills and services to clients on a task-based or project-based
                                    basis instead of working as permanent employees.</p>

                                <p>Freelancers are hired for specific projects such as website development, graphic
                                    design, content writing, digital marketing, or data analysis. They usually work for
                                    multiple clients at the same time and have the freedom to choose their working hours
                                    and location. Payment is typically made per project, per task, or per hour. In a job
                                    board application, freelance jobs help connect companies with skilled professionals
                                    for short-term or specialized work without long-term employment commitments.
                                </p>

                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'Main/assets/img/working-3.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!-- End Tab Content Item -->

                </div>

            </div>

        </section><!-- /Features Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section" style="height: 550px;">
            <style>
                .section-title h1 {
                    /* font-size: 14px; */
                    font-weight: 500;
                    padding: 0;
                    line-height: 1px;
                    margin: 0;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    color:
                        color-mix(in srgb, var(--default-color), transparent 50%);
                    position: relative;
                }

                .section-title h1::after {
                    content: "";
                    width: 120px;
                    height: 1px;
                    display: inline-block;
                    background: var(--accent-color);
                    margin: 4px 10px;
                }
            </style>
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h1 style="margin-bottom: 100px;">Contact</h1>
                <!-- <p>Necessitatibus eius consequatur</p> -->
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">
                    <div class="col-lg-12 ">
                        <div class="row gy-4">

                            <div class="col-md-4">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center"
                                    data-aos="fade-up" data-aos-delay="200">
                                    <i class="bi bi-geo-alt"></i>
                                    <h3>Address</h3>
                                    <p>A108 Adam Street, New York, NY 535022</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="col-md-4">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center"
                                    data-aos="fade-up" data-aos-delay="300">
                                    <i class="bi bi-telephone"></i>
                                    <h3>Call Us</h3>
                                    <p>+1 5589 55488 55</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="col-md-4">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center"
                                    data-aos="fade-up" data-aos-delay="400">
                                    <i class="bi bi-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>careerhive2697@gmail.com</p>
                                </div>
                            </div><!-- End Info Item -->

                        </div>
                    </div>



                </div>

            </div>

        </section><!-- /Contact Section -->

    </main>

    <footer id="footer" class="footer dark-background">



        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Dewi</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
                    href=“https://themewagon.com>ThemeWagon
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'Main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Main/assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'Main/assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'Main/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'Main/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'Main/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'Main/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'Main/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'Main/assets/js/main.js' %}"></script>

</body>

</html>